<mat-card>
  <mat-card-title class="mx-2">
    <label *ngIf="isEdit">Edit Device</label>
    <label *ngIf="!isEdit">Add Device</label>
  </mat-card-title>
  <form [formGroup]="form" (submit)="save()">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Uid</mat-label>
        <input matInput type="number" [formControl]="form.get('uid')">
        <mat-error *ngIf="form.get('uid').errors?.required">Required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Vendor</mat-label>
        <input matInput [formControl]="form.get('vendor')">
        <mat-error *ngIf="form.get('vendor').errors?.required">Required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <select matNativeControl  [formControl]="form.get('status')">
          <option value="ONLINE">Online</option>
          <option value="OFFLINE">Offline</option>
        </select>
        <mat-error *ngIf="form.get('status').errors?.required">Required</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer class="d-flex justify-content-end pb-1">
      <button mat-button color="primary" type="submit">Save</button>
      <button mat-button color="accent" type="button" (click)="cancel()">Cancel</button>
    </mat-card-footer>
  </form>
</mat-card>
